*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.logo_mod {
    margin-top: 4px;
    max-width: 80%;
    position: relative;
    z-index: 10;
  }

  body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/assets/img/back/backdep.png");
  }
   
  .btn-group:active{
    color: inherit;
  }

  .btn-group:visited{
    color: inherit;
  }

  .btn-group:focus{
    outline: none;
    color: inherit;
  }

  .btn-group a{
    text-decoration: none;
    color: inherit;
  }
  
  .page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

  .img_home{
    margin: 24px 2px;
    display: flex;
    align-items: center;
  
  }

  .card_home{
    justify-content: space-around;
    max-width: 75%;
    overflow-x: auto;
  }

  .card {
    position: relative;
    overflow: hidden;
  }
  
  .card-img {
    transition: transform 0.5s ease;
  }

  .card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    transition: padding 0.3s ease;
  }
  
  .overlay-text {
    font-size: 18px;
  }
  
  .card-hover:hover .card-img{
    transform: scale(1.1);
  }
  
  /*@media (max-width: 576px) {
    .overlay-text {
      font-size: 14px; /* Adatta la dimensione del testo su schermi piccoli 
    }
  } */
  

 /* .card:hover{
    padding: 1.2rem;
  }*/

.text_style{
  margin: 20 0px;
  padding:10 0px;
  max-width: 80%;
  text-align: center;
  font-size: x-large;
  border-left: 2px solid #0a68ff;
  /*border-right: 2px solid #0a68ff;*/
}

.faq_container {
  padding: 30px;
  min-width: 100vh;
  margin: 14px auto;
  align-items: center;
}    

.faq_item {
  margin: 14px auto;
  position: relative;
  max-width: 100vh;
}

.faq_item input[type="checkbox"] {
  display: none;
}

.faq_item input[type="checkbox"]:checked ~ .faq_answer {
  max-height: 500px; 
  opacity: 1;
  padding: 10px;
}

.faq_question {
  background-color: #027ed1;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 14px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
}

.faq_answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 14px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

/*.faq_person{
  text-justify: newspaper;
}*/

.form_faq_container{
  text-align: left;
  padding: 20px;
}

#contact-form-faq-faq{
  display: grid;
  width: 100%;
  justify-content: center;

}

#contact-form-faq input {
  width: 80%;
 /* margin-left: 25%;
  margin-right: 25%;*/
  font-size: 14px;
  padding: 16px 16px;
  border-color: black;
  margin-bottom: 20px;
  justify-content: left;
}
#contact-form-faq input:focus-within {
  outline: none;
  border-color: black;
  border-width: 2px;
}
#contact-form-faq #first_name {
  background-color: #9ce0ff;
}
#contact-form-faq #last_name {
  background-color: #9ce0ff;
}
#contact-form-faq #mail {
  background-color: #9ce0ff;
}
#contact-form-faq #phone {
  background-color: #9ce0ff;
}
#contact-form-faq #message {
  border-color: black;
  border-width: 2px;
}
#contact-form-faq textarea {
  width: 80%;
  height: auto;
  /*margin-left: 25%;
  margin-right: 25%;*/
  font-size: 14px;
  padding: 18px 16px;
  margin-bottom: 25px;
  border-color: black;
  background-color: #9ce0ff;
  justify-content: left;
}
#contact-form-faq textarea:focus-within {
  outline: none;
  border-color: black;
  border-width: 3px;
}
#contact-form-faq button {
  border-color: black;
  border-radius: 20px;
  background-color: #9ce0ff;
  font-size: 16px;
  margin-bottom: 80px;
  padding: 10px 18px;
  text-align: center;
  display: flex;
  margin-left: 47%;
}
#contact-form-faq button:hover {
  opacity: 80%;
  cursor: pointer;
  background-color: hsl(182, 100%, 50%);
  border-color: white;
  color: rgb(0, 0, 0);
}

#contact-form-faq-faq{
  display: grid;
  width: 100%;
  justify-content: center;
 
}

#warn-form-faq input {
  width: 40%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 14px;
  padding: 16px 16px;
  border-color: black;
  margin-bottom: 20px;
}
#warn-form-faq input:focus-within {
  outline: none;
  border-color: black;
  border-width: 3px;
}
#warn-form-faq #first_name {
  background-color: #9ce0ff;
}
#warn-form-faq #last_name {
  background-color: #9ce0ff;
}
#warn-form-faq #mail {
  background-color: #9ce0ff;
}
#warn-form-faq #number {
  background-color: #9ce0ff;
}
#warn-form-faq #message {
  border-color: black;
  border-width: 2px;
}
#warn-form-faq textarea {
  width: 40%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 14px;
  padding: 16px 16px;
  margin-bottom: 25px;
  border-color: black;
  background-color: #9ce0ff;
}
#warn-form-faq textarea:focus-within {
  outline: none;
  border-color: black;
  border-width: 3px;
}
#warn-form-faq button {
  border-color: black;
  border-radius: 20px;
  background-color: #9ce0ff;
  font-size: 16px;
  margin-bottom: 80px;
  padding: 10px 18px;
  text-align: center;
  display: flex;
  margin-left: 47%;
}
#warn-form-faq button:hover {
  opacity: 80%;
  cursor: pointer;
  background-color: #0a68ff;
  border-color: white;
  color: white;
}

.contact_box{
  padding: 30px;
  margin-top: 40px;
  max-width: auto;
  background-color: white;
  margin: 40px auto;
  border: 1px solid black;
  border-radius: 10px;
}

/*.contact_box {
  display: block;
}*/

.contact_info{
  margin-bottom: 20px;
  padding: 20px;
  display: block;
}

.contact_info img{
  max-width: 50px;
  margin-bottom: 10px;
}

/*.contact_info h3{
  margin-bottom: 10px;
}*/

.container_btn {
  display: flex;
  padding: 10px 20px;
  justify-content: start;
}

.txt, .number {
  display: inline-block;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.number {
  opacity: 0
}

.copy-btn {
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #00c91b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  margin: 4px;
}

.copy-btn:hover .txt {
  opacity: 0;
}

.copy-btn:hover .number {
  opacity: 1;
}

.mission{
  text-align: start;
  justify-content: start;
  border-left: 2px solid #0a68ff;
}

.footer{
  width: 100%;
  padding: 20px;
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: static;
  max-height: none;
  box-sizing: border-box;
}